:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /*size*/
  --size--button: 60px;
  --font-size: 18px;
  --base-space: 8px;
  --size-border: 4px;
  --size--thumbnail: 50px;
  /* annimation */
  --animation-duration: 300ms;
}

body {
  background-color: #0c1125;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  cursor: pointer;
  transition: transeform var(--animation-duration) ease;
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.buttons {
  display: flex;
  align-items: center;
}

.imgBtn {
  width: var(--size--button);
  height: var(--size--button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: 16px;
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}

.pink {
  background-color: var(--color-pink);
}

.yellow {
  background-color: var(--color-yellow);
}

.blue,
.yellow,
.pink {
  color: var(--color-white);
}

.items {
  width: 30%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__thumbnail {
  width: var(--size--thumbnail);
  height: var(--size--thumbnail);
}

.item_description {
  margin-left: var(--base-space);
  fonr-size: var(--font-size);
}

* {
  box-sizing: border-box;
}
